<!-- AddressInput (static): empty, NIM-only -> placeholder "NQ", 3x3 block grid -->
<div class="address-input display-as-nim-address">
    <textarea spellcheck="false" autocomplete="off" placeholder="NQ"></textarea>
    <svg width="210" height="99" viewBox="0 0 210 99" stroke-width="1.5"
        stroke-linecap="round" fill="none" xmlns="http://www.w3.org/2000/svg" class="grid">
        <line x1="0.75" y1="30.25" x2="209.25" y2="30.25"/>
        <line x1="0.75" y1="68.25" x2="209.25" y2="68.25"/>
        <g>
            <line x1="67.75" y1="0.75" x2="67.75" y2="22.25"/>
            <line x1="143.75" y1="0.75" x2="143.75" y2="22.25"/>
            <line x1="67.75" y1="37.75" x2="67.75" y2="60.25"/>
            <line x1="143.75" y1="37.75" x2="143.75" y2="60.25"/>
            <line x1="67.75" y1="75.75" x2="67.75" y2="98.25"/>
            <line x1="143.75" y1="75.75" x2="143.75" y2="98.25"/>
        </g>
    </svg>
</div>
